<div class="container">
  <form (ngSubmit)="registrar(formulario.form)" #formulario="ngForm">
    <div class="form-group">
      <label for="">Nombre usuario</label>
      <input type="text" class="form-control" name="nomUsuario" ngModel>
    </div>
    <div class="form-group">
      <label for="">Contraseña</label>
      <input type="password" class="form-control" name="contraseña" ngModel>
    </div>
    <div class="form-group">
      <label for="">Contraseña nuevamente</label>
      <input type="password" class="form-control" name="contraseña2" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
